:root {
  --heading-font: "Cinzel", serif;
  --accent-font: "Alegreya Sans", sans-serif;
}
nav {
  margin-top: 20px;
}
nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
  color: black;
}

.active {
  color: #6c757d;
}

nav ul {
  list-style: none;
  font-family: var(--accent-font);
  font-weight: 100;
  margin-top: 15px;
}
nav li {
  display: inline;
  padding-left: 10px;
  font-size: 14px;
}

hr {
  border-top: 1px solid;
  border-color: black;
  opacity: 100;
  margin-top: 0;
  margin-bottom: 0;
}
.logo {
  max-height: 50px;
}

.nav-top {
  background-color: white;
}

.hero h1 {
  font-family: "Cinzel", serif;
  font-size: 80px;
}
.hero h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 100;
  font-size: 25px;
}

.hero a {
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  background-color: white;
}

.hero a :hover {
  color: #6c757d;
}

.homepage-image {
  text-align: center;
}
.homepage-image img {
  max-height: 150px;
  margin: 0px;
  border-radius: 100%;
}

h1 {
  font-family: var(--heading-font);
  font-size: 70px;
}

h2 {
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 100;
}

h3 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  text-decoration: overline underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}
h4 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-top: 50px;
}
h5 {
  font-family: var(--accent-font);
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
}
h6 {
  text-align: center;
  font-size: 13px;
}

p {
  font-family: "Alegreya Sans", sans-serif;
}

img {
  max-width: 500px;
}

.hero {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.layout {
  margin-top: 75px;
}

.contact-page-links a {
  color: black;
  text-decoration: none;
}
.contact-page-links a:hover {
  color: black;
  text-decoration: underline;
}

.fa-brands {
  font-size: 25px;
  margin-top: 20px;
}

.fa-solid {
  font-size: 25px;
}
.contact-box {
  background: rgb(241, 239, 239);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.contact-box h1 {
  text-align: left;
  padding-left: 30px;
  margin: 0px;
}

.contact-box p {
  text-align: left;
  padding-left: 80px;
}

.contact-box a {
  margin-right: 50px;
  margin-top: 30px;
  padding: 15px 25px;
}

.footer-email {
  font-size: 25px;
  text-decoration: none;
}
.footer-email:hover {
  color: black;
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  padding-top: 100px;
}

footer a {
  color: black;
}

footer a :hover {
  color: #6c757d;
}
.footer-icons a {
  padding-left: 5px;
  padding-right: 5px;
}

#lined-heading {
  margin-bottom: 60px;
}

#lined-heading-bottom {
  margin-top: 50px;
}

@media (max-width: 900px) {
  body {
    margin-left: 25px;
    margin-right: 25px;
  }
  .hero {
    padding-top: 60px;
  }
  .project-paragraph {
    text-align: center;
    padding-bottom: 60px;
  }

  h1 {
    font-size: 40px;
  }
  .hero h1 {
    font-size: 49px;
  }
  .hero h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 25px;
  }
}
h6 {
  margin-bottom: 125px;
}

li {
  font-size: 7px;
  line-height: 1px;
}
hr {
  border-top: 0.5px;
}
ul {
  padding-left: 0px;
}

footer {
  padding-top: 0px;
}

.my-projects-button {
  margin-bottom: 75px;
}
#lined-heading {
  margin-bottom: 0px;
}

#lined-heading-bottom {
  margin-top: 0px;
}
